<div class="container">
  <div class="modal">
    <div class="header">
      <span>{{title}}</span>
      <ion-icon name="close" (click)="showModal.emit(false)"></ion-icon>
    </div>
    <ion-item class="message" (click)="takePic()" *ngIf="!isRut">
      <span>Clic para tomar una foto</span>
      <ion-icon name="camera" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="message" *ngIf="isRut" for="myInput">
      <label class="text-label" for="myInput" *ngIf="file.name === ''">clic para subir RUT</label>
      <label class="text-label" *ngIf="file.name !== ''">Elimina para subir otro archivo</label>
      <ion-icon name="document-outline" slot="end"></ion-icon>
      <input 
        id="myInput"
        style="display: none;" 
        type="file" 
        name="file" 
        (change)="onFileChange($event)">
    </ion-item>
    <div class="content-photos" *ngIf="!isRut">
      <ng-container *ngFor="let photo of photos; let i = index;">
        <ion-img [src]="photo.dataUrl" (click)="deletePhoto(photo)"></ion-img>
      </ng-container>
    </div>
    <div class="content-file" *ngIf="isRut && file.name !== ''">
      <ion-item class="message">
        <span>{{file.name}}</span>
        <ion-icon name="close" slot="end" (click)="deleteFile()"></ion-icon>
      </ion-item>
    </div>
    <div class="btn" *ngIf="!isRut">
      <ion-button
        type="submit"
        shape="round"
        (click)="showModal.emit(false)">
          Aceptar
      </ion-button>
    </div>
  </div>