<div class="card" *ngIf="false">
  <div class="object-circle">
    <div class="gradient"></div>
    <img 
      class="img" 
      [src]="item.photos[0].dataUrl"
      *ngIf="item.photos.length > 0; else imgDefaultTemplate">
    <ng-template #imgDefaultTemplate>
      <img 
        class="img"
        [src]="imgDefault">
    </ng-template>
  </div>
  <div class="content-text">
    <span class="title">{{item.name}}</span>
    <div class="lineTwo">
      <span>
        <strong>Valor: </strong>{{(item.value | currency:'':'symbol':'1.0-2')}}
      </span>
      <span>
        <ion-icon name="location"></ion-icon>
        {{user.city}}
      </span>
      <span>Nuevo/Usado</span>
    </div>
    <div class="lineThree">
      <span>{{item.description}}</span>
      <div class="conditions">
        <span>Condiciones</span>
      </div>
    </div>
  </div>
</div>