<ion-content fullscreen="true" scroll-y="true" scroll-x="false" *ngIf="form">
  <div class="content">
    <div class="header">
      <div class="partOne">
        <ion-icon name="arrow-back-outline" routerLink="/inicio"></ion-icon>
        <span>NegociApp</span>
      </div>
      <ion-img src="/assets/img/user_perfilxxxhdpi.png"></ion-img>
      <div class="header-text">
        <span>{{user.name}}</span>
        <div class="stars">
          <div class="star" *ngIf="promedio">
            <ion-icon 
            name="star" 
            [class.color]="promedio <= i" 
            *ngFor="let item of stars; let i = index"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="setting">
      <div class="tab">
        <ion-img src="/assets/shop_negative_perfil.svg"></ion-img>
        <span>(0)</span>
      </div>
      <div class="tab">
        <ion-img src="/assets/shop_positive-perfil.svg"></ion-img>
        <span>(0)</span>
      </div>
    </div>
    <form class="form" [formGroup]="form">
      <div class="question">
        <div class="content-icon">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <ion-input 
          class="input"
          [ngClass]="{'invalid': validateinput('name')}"
          placeholder="Escribe tu correo aquí"
          formControlName="name">
        </ion-input>
      </div>
      <div class="question">
        <div class="content-icon">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <ion-input 
          class="input"
          [ngClass]="{'invalid': validateinput('email')}"
          placeholder="Escribe tu correo aquí"
          formControlName="email">
        </ion-input>
      </div>
      <div class="question">
        <div class="content-icon">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <ion-select
          placeholder="Ciudad"
          [ngClass]="{'invalid': validateinput('city')}"
          formControlName="city">
          <ion-select-option [value]="city" *ngFor="let city of cities">{{city}}</ion-select-option>
        </ion-select>
      </div>
      <div class="question">
        <div class="content-icon">
          <ion-icon name="call-outline"></ion-icon>
        </div>
        <ion-input
          class="input"
          [ngClass]="{'invalid': validateinput('contact')}"
          placeholder="Número de contacto"
          formControlName="contact">
        </ion-input>
      </div>
      <div class="submit" *ngIf="!uniqueid">
        <ion-button 
          shape="round" 
          (click)="update()">
          Actualizar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>