@import '../../../theme/mixin.scss';

ion-toolbar {
  --padding-bottom: 0px;
  --background: var(--ion-color-primary);
  color: var(--ion-color-light);

  ion-title {
    right: 6%;
    text-align: center;
    position: relative;
  }
}

ion-content {
  --background: var(--ion-color-light);
}

.header {
  background: var(--ion-color-primary);
  padding: 16px;
  border-radius: 0px 0px 30px 30px;
  margin-bottom: 16px;

  .partOne {
    color: var(--ion-color-light);
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;

    ion-icon {
      position: absolute;
      left: 5%;
    }
  }

  ion-img {
    height: 90px;
    margin-bottom: 16px;
  }

  .header-text {
    text-align: center;
    color: var(--ion-color-light);

    span {
      font-size: 18px;
    }
  }
}

.setting {
  width: 60%;
  border: 1px solid var(--ion-color-primary);
  border-radius: 30px;
  margin: 0px auto;
  height: 30px;
  margin-bottom: 16px;
  @include flex();

  .tab {
    flex: 1;
    @include flex(center, space-evenly);

    &:first-child {
      border-right: 1px solid var(--ion-color-primary);
    }

    ion-img {
      height: 24px;
      width: 24px;
    }
  }
}

.form {
  padding: 0px 16px;

  .question {
    margin-bottom: 16px;
    @include flex();

    .content-icon {
      flex: 1;
      background: var(--ion-color-primary);
      color: var(--ion-color-light);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      border-radius: 30px 0px 0px 30px;
    }

    .input {
      flex: 5;
      margin: 0 auto;
      background: var(--ion-color-blue-light);
      border: 1px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
      border-radius: 0px 30px 30px 0px;
      padding: 10px 0px 8px 8px;

      &.invalid {
        border: 1px solid var(--ion-color-danger);
      }

      &.select {
        margin-bottom: 16px;
        @include flex(center, $direction: row-reverse);

        ion-icon {
          position: absolute;
          right: 0px;
        }
      }

      &.button {
        padding: 0px;
        width: 100%;
        margin-bottom: 16px;
      }
    }

    ion-select {
      flex: 5;
      --placeholder-opacity: 1;
      --padding-end: 16px;
      background: var(--ion-color-blue-light);
      color: var(--ion-color-primary);
      border: 1px solid var(--ion-color-primary);
      border-radius: 0px 30px 30px 0px;

      &::part(icon) {
        opacity: 1;
      }

      &.invalid {
        border: 1px solid var(--ion-color-danger);
      }
    }
  }
}

.submit {
  width: 100%;
  margin: 16px 0px;
  @include flex(center, center);
}

.stars {
  margin: 0px auto;
  color: var(--ion-color-primary);
  @include flex(center, center, column);

  .star {
    color: var(--ion-color-secondary);
  }

  .text {
    font-size: 12px;
    text-align: center;
    margin-bottom: 4px;
  }
}

.color {
  color: var(--ion-color-light);
}