<ion-header class="ion-padding ion-text-center">
  <ion-toolbar [color]="currentColor">
    <ion-buttons class="setting-element">
      <ion-button class="setting-element__button" (click)="goToHome()">
        <ion-icon src="/assets/back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center setting-element__title">NegociApp</ion-title>
  </ion-toolbar>
  <ion-avatar class="ion-text-center">
    <img [src]="userImage" />
  </ion-avatar>
  <ion-input
    autocorrect="on"
    autofocus="on"
    id="email"
    class="ion-text-center setting-element__input"
    [(ngModel)]="registerData.name"
  ></ion-input>
  <div class="setting-element__rating-group">
    <div *ngIf="rate >= 0 && rate <= 0.4">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div *ngIf="rate >= 0.5 && rate <= 0.9">
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>
    <div *ngIf="rate >= 1 && rate <= 1.4">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div *ngIf="rate >= 1.5 && rate <= 1.9">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div *ngIf="rate >= 2 && rate <= 2.4">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div *ngIf="rate >= 2.5 && rate <= 2.9">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div *ngIf="rate >= 3 && rate <= 3.4">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div *ngIf="rate >= 3.5 && rate <= 3.9">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div *ngIf="rate >= 4 && rate <= 4.4">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div *ngIf="rate >= 4.5 && rate <= 4.9">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
    </div>

    <div *ngIf="rate === 5">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </div>

    <div *ngIf="rate >= 3 && rate < 3.4">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content class="ion-text-center setting-content">
  <div class="setting-content__button-group">
    <button class="setting-content__button negative">
      <ion-icon
        class="setting-content__icon"
        src="/assets/shop_negative_perfil.svg"
      >
      </ion-icon
      >(0)
    </button>
    <button class="setting-content__button positive">
      <ion-icon
        class="setting-content__icon"
        src="/assets/shop_positive-perfil.svg"
      ></ion-icon
      >(0)
    </button>
  </div>

  <ion-list class="form-container">
    <h2 class="setting-content__title">Correo:</h2>
    <ion-item class="user-data">
      <ion-input 
        autocorrect="on"
        autofocus="on"
        clearOnEdit="true"
        class="user-data__input"
        id="email"
        [(ngModel)]="registerData.email"
        inputmode="text"
        placeholder="Escribe tu correo aquí"
        required="true"
      ></ion-input>
      <ion-icon
        class="user-data__icon-email"
        src="/assets/plane.svg"
        slot="start"
      ></ion-icon>
    </ion-item>
    <h2 class="setting-content__title">Ciudad:</h2>
    <ion-item class="user-data">
      <ion-select
        name="city"
        [(ngModel)]="registerData.city"
        class="user-data__select-city"
        placeholder="Ciudad"
      >
        <ion-select-option value="Cartagena">Cartagena</ion-select-option>
        <ion-select-option value="Barranquilla">Barranquilla</ion-select-option>
        <ion-select-option value="Montería">Montería</ion-select-option>
        <ion-select-option value="Santa Marta">Santa Marta</ion-select-option>
        <ion-select-option value="Sincelejo">Sincelejo</ion-select-option>
        <ion-select-option value="Riohacha">Riohacha</ion-select-option>
        <ion-select-option value="Valledupar">Valledupar</ion-select-option>
      </ion-select>
      <ion-icon
        class="user-data__icon-email"
        src="/assets/globo.svg"
        slot="start"
      ></ion-icon>
    </ion-item>
    <h2 class="setting-content__title">Teléfono:</h2>
    <ion-item class="user-data">
      <ion-input
        autocorrect="on"
        autofocus="on"
        clearOnEdit="true"
        class="user-data__input__phone ion-text-center"
        id="contact"
        [(ngModel)]="registerData.contact"
        color="primary"
        inputmode="text"
        placeholder="Número de contacto"
        required="true"
      >
      </ion-input>
    </ion-item>
    <div class="setting-content__title">
        <ion-button class="user-data__submit" size="large" shape="round" (click)="next()">
          Guardar</ion-button>
    </div>
  </ion-list>

  
</ion-content>
