<div class="cards" *ngIf="list">
  <div class="message" *ngIf="list.length === 0">
    <h6 class="text">{{'Sin productos' | uppercase}}</h6>
  </div>
  <div class="card" *ngFor="let item of list; let i = index">
    <div class="object-circle">
      <div class="gradient"></div>
      <div class="circle" *ngIf="item.offerit?.length > 0 && type === nameCardList">
        {{item.offerit.length}}
      </div>
      <img 
        class="img" 
        [src]="item.photos[0].dataUrl"
        *ngIf="item.photos.length > 0; else imgDefaultTemplate">
      <ng-template #imgDefaultTemplate>
        <img 
          class="img"
          [src]="imgDefault">
      </ng-template>
    </div>
    <div class="content-text">
      <span class="title">{{item.name}}</span>
      <div class="lineTwo">
        <span>
          <strong>Valor: </strong>{{(item.value | currency:'':'symbol':'1.0-2')}}
        </span>
        <span>
          <ion-icon name="location"></ion-icon>
          {{user.city}}
        </span>
        <span>Nuevo/Usado</span>
      </div>
    </div>
    <ng-container *ngIf="type === nameCardList">
      <div class="buttons">
        <div class="button" (click)="selectOffer(item)">Ofertas</div>
        <div class="button" (click)="goToEdit(item)">Editar</div>
        <div class="button" (click)="goToDelete(item)">Eliminar</div>
      </div>
    </ng-container>
    <ng-container *ngIf="type === nameCardOffers || type === nameCardMyOffers">
      <div class="buttons">
        <div class="button isOffer" (click)="goToDetail(item)">Detalles</div>
      </div>
    </ng-container>
    <ng-container *ngIf="type === nameCardIsMyHistorial">
      <div class="buttons">
        <div class="button" [class.isOffer]="item.rate" (click)="goToDetailHistorial(item, i)">Detalles</div>
        <div class="button isHistorial" *ngIf="!item.rate" (click)="goToDetailRate(item, i)">Calificar</div>
      </div>
    </ng-container>
    <ng-container *ngIf="type === nameCardIsMyHistorialOffers">
      <div class="buttons">
        <div class="button isOffer" (click)="goToDetailHistorial(item, i)">Detalles</div>
      </div>
    </ng-container>
  </div>
</div>