<ion-content scroll-y="true" class="ion-padding">
  <div class="container">
    <div class="container__number">
      <ion-icon name="checkmark"></ion-icon>
    </div>
    <div class="container__welcome">Datos guardados correctamente!</div>
    <br />
    <br />
    <br />
    <div class="container__welcome">Hola {{user.name}}, gracias por ingresar tu información, estas a pocos pasos de ser
      parte de esta gran comunidad.
      <br />
      <br />
      <br />
      A continuacion veriquemos tu numero celular.
    </div>
    <div class="container__button">
      <br />
      <br />
      <br />
      <ion-button expand="block" color="secondary" shape="round" size="large" (click)="next()">Siguiente</ion-button>
    </div>
  </div>
</ion-content>