@import '../../../../../theme/mixin.scss';

ion-content {
  --background: var(--ion-color-light);
}

.content {
  width: 100%;
  margin-top: 16px;
  padding: 0px 32px;
  @include flex(center, flex-start, column);
}

.info {
  margin-bottom: 16px;
  padding: 4px 12px;
  border-radius: 30px;
  color: var(--ion-color-light);
  background: var(--ion-color-primary);
  text-align: center;

  &.width-60 {
    width: 60%;
    text-align: center;
  }

  &.text-second {
    background: var(--ion-color-secondary);
  }
}

.detail {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  border: 2px solid var(--ion-color-primary);
  @include flex($direction: column);

  &.center {
    text-align: center;
  }

  .name {
    color: var(--ion-color-secondary);
    margin-bottom: 8px;
  }

  .second-content {
    @include flex(stretch, space-between);

    .value {
      flex: 1;

      span {
        &:first-child {
          color: var(--ion-color-medium);
        }

        .value-text {
          color: var(--ion-color-secondary);
        }
      }
    }

    .date {
      flex: 1;
      width: 100%;

      span {
        @include flex(center, space-between);

        &:first-child {
          color: var(--ion-color-medium);
        }

        .date-text {
          color: var(--ion-color-secondary);
        }
      }
    }
  }

  .text-value {
    font-size: 24px;
    font-weight: bold;
    color: var(--ion-color-secondary);
  }
}

.perfil {
  width: 100%;
  margin-bottom: 16px;
  @include flex(center, space-evenly);

  .content-icon-text {
    @include flex(center, center, column);

    .icon-text {
      width: fit-content;
      background: var(--ion-color-primary);
      border-radius: 30px;
      margin-bottom: 4px;
      @include flex(center, center);

      &.second {
        background: var(--ion-color-secondary);
      }

      &.second {
        background: var(--ion-color-secondary);
      }

      ion-icon {
        color: var(--ion-color-light);
        font-size: 50px;
      }
    }

    .second-text {
      color: var(--ion-color-secondary);
    }

  }

}

.form {
  width: 100%;
  @include flex(center, center, column);

  .second-text {
    color: var(--ion-color-secondary);
  }
}

.status {
  width: 60%;
  margin-bottom: 16px;
  @include flex(center, center, column);

  span {
    width: 100%;

    &:first-child {
      text-align: center;
      margin-bottom: 4px;
      color: var(--ion-color-secondary);
    }
  }

  .status-content {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
    border: 1px solid var(--ion-color-primary);
    padding: 2px;
    height: 26px;
    @include flex();

    span {
      color: var(--ion-color-medium);
      font-size: 12px;
      @include flex(center, center);

      &:first-child {
        flex: 1;
        margin-bottom: 0px;
        border-radius: 16px 0px 0px 16px;
        text-align: center;
      }

      &:nth-child(2) {
        flex: 1;
        border-radius: 0px 16px 16px 0px;
        text-align: center;
      }

      &.isClose {
        color: var(--ion-color-light);
        background: var(--ion-color-primary);
      }
    }
  }
}

.stars {
  color: var(--ion-color-primary);
  font-size: 36px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: max-content;

  .star {
    color: var(--ion-color-primary);
  }

  .text {
    font-size: 12px;
    text-align: center;
    margin-bottom: 4px;
  }
}

.color {
  color: var(--ion-color-dark);
}

.btn {
  width: 75%;
  margin-top: 16px;
  margin-bottom: 16px;
  @include flex(center, center);

  ion-button {
    text-transform: capitalize;
  }
}

.primary {
  color: var(--ion-color-primary)
}

.secondary {
  background: var(--ion-color-secondary);
}

.textArea {
  &.rate {
    margin-bottom: 16px;
  }
}