<app-header
  [secondMessage]="secondMessageHeader"
  [thirdMessage]="thirdMessage"
  [colorHeader]="'var(--ion-color-primary)'"
  [colorText]="'var(--ion-color-light)'"
  [colorBack]="'var(--ion-color-light)'"
  [colorBorderIcon]="'1px solid var(--ion-color-light)'"
  [colorIconBlack]="false">
</app-header>

<ion-content fullscreen="true" scroll-y="true" scroll-x="false" *ngIf="item">
  <div class="content">
    <span class="info">Negocio {{index + 1}}</span>
    <div class="detail">
      <span class="name">{{item.name}}</span>
      <div class="second-content">
        <div class="value">
          <span>Valor: <span class="value-text">{{item.value | currency:'':'symbol':'1.0-2'}}</span></span>
        </div>
        <div class="date">
          <span>Fecha: <span class="date-text">{{item.closeDate}}</span></span>
        </div>
      </div>
    </div>
    <form class="form">
      <div class="status">
        <span>Area de calificación</span>
        <ng-container>
          <span class="info text-second">Calificar proveedor</span>
          <div class="stars">
            <div class="star">
              <ion-icon 
              name="star" 
              [class.color]="rate.rateUser <= i" 
              *ngFor="let item of stars; let i = index" 
              (click)="selectStarsUser(i)"></ion-icon>
            </div>
          </div>
        </ng-container>
        <div class="content-info">
          <span>¿Estas satisfecho?</span>
          <div class="items">
            <div 
              class="item" 
              [ngClass]="{'isSelected': rate.satisfied === true}"
              (click)="selectSatisfied(true)">
              <span>Sí</span>
            </div>
            <div 
              class="item" 
              [ngClass]="{'isSelected': rate.satisfied === false}"
              (click)="selectSatisfied(false)">
              <span>No</span>
            </div>
          </div>
        </div>
        <div class="content-info">
          <span>¿Recomiendas al Mider?</span>
          <div class="items">
            <div 
              class="item"
              [ngClass]="{'isSelected': rate.recommend === true}"
              (click)="selectRecommended(true)">
              <span>Sí</span>
            </div>
            <div 
              class="item"
              [ngClass]="{'isSelected': rate.recommend === false}"
              (click)="selectRecommended(false)">
              <span>No</span>
            </div>
          </div>
        </div>
      </div>
      <span class="second-text">Comentarios</span>
      <textarea 
        class="textArea"
        name="condiciones" 
        id="condiciones" 
        rows="7"
        placeholder="Describa"
        [disabled]="isDisabledInput"
        [(ngModel)]="rate.comment">
      </textarea>
      <div class="btn" *ngIf="!isRate && isUserRequest">
        <ion-button shape="round" (click)="save()">Calificar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
