<div class="container">
  <div class="modal">
    <div class="header">
      <span>Categorías</span>
      <ion-icon name="close" (click)="showModal.emit(false)"></ion-icon>
    </div>
    <div class="container-input">
      <ion-input 
        class="search-input"
        placeholder="Buscar Cateogrias"
        [(ngModel)]="search"
        (keyup)="searhCategory()">
      </ion-input>
    </div>
    <div class="content-list">
      <ion-list>
        <ion-item 
          type="submit"
          *ngFor="let category of categoriesTem"
          (click)="pushCategory(category.value)">
          <ion-label>{{category.name}}</ion-label>
          <ion-checkbox 
            color="secondary" 
            slot="end" 
            mode="ios"
            [checked]="selectCategory(category.value)">
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
    <div class="btn">
      <ion-button
        type="submit"
        shape="round"
        (click)="showModal.emit(false)">
          Aceptar
      </ion-button>
    </div>
</div>