@mixin flex($alignItems: stretch, $justifyContent: flex-start, $direction: row) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
}

@mixin box-shadow-black {
  box-shadow: 0px 1px 2px 0px var(--ion-color-dark);
}

@mixin box-shadow-card {
  box-shadow: 0px 0px 4px 0px var(--ion-color-dark);
}