<app-header
  [secondMessage]="secondMessageHeader"
  [colorHeader]="'var(--ion-color-primary)'"
  [colorText]="'var(--ion-color-light)'"
  [colorBack]="'var(--ion-color-light)'"
  [colorBorderIcon]="'1px solid var(--ion-color-light)'"
  [colorIconBlack]="false">
</app-header>

<ion-content fullscreen="true" scroll-y="true" scroll-x="false" *ngIf="item">
  <div class="content">
    <div class="header">
      <ion-img [src]="imgDeal"></ion-img>
      <span class="info">Solicitud {{index + 1}}</span>
      <div class="text">
        <span>{{item.name}}</span>
        <span>Mi presupuesto: <span class="value">{{item.value | currency:'':'symbol':'1.0-2'}}</span></span>
      </div>
    </div>
    <span class="info">ofertas Recibidas</span>
    <div class="list">
      <ng-container *ngFor="let element of item.offerit; let i = index">
        <app-offers-received
          [item]="element"
          [index]="i">
        </app-offers-received>
      </ng-container>
    </div>
  </div>
</ion-content>
