<app-header
  [secondMessage]="secondMessageHeader"
  [colorHeader]="'var(--ion-color-primary)'"
  [colorText]="'var(--ion-color-light)'"
  [colorBack]="'var(--ion-color-light)'"
  [colorBorderIcon]="'1px solid var(--ion-color-light)'"
  [colorIconBlack]="false">
</app-header>

<ion-content fullscreen="true" scroll-y="true" scroll-x="false">
  <div class="content">
    <ion-grid *ngIf="!idunique">
      <ion-row>
        <ion-col>
          <button 
            class="tab" 
            (click)="tabSelected(1)" 
            [ngClass]="{'active': tab === 1}">
              <p>{{message}}</p>
              <img src="../../../assets/icon_servicios.png">
          </button>
          <button 
            class="tab" 
            [ngClass]="{'active' : tab === 2}"
            (click)="tabSelected(2)">
              <p>{{messageTwo}}</p>
              <img src="../../../assets/mis_servicios.png">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-formComponent 
      [category]="category" 
      [idunique]="idunique"
      (showCategories)="showModalCategories = $event"
      (showPhotos)="showModalPhotos = $event"
      *ngIf="tab === 1; else MyItem">
    </app-formComponent>
    <ng-template #MyItem>
      <app-mycards 
        [type]="'isList'"
        [category]="category">
      </app-mycards>
    </ng-template>
  </div>
</ion-content>

<app-categories-modal 
  (showModal)="showModalCategories = $event"
  *ngIf="showModalCategories">
</app-categories-modal>

<app-photos-modal
  (showModal)="showModalPhotos = $event"
  *ngIf="showModalPhotos">
</app-photos-modal>
