<app-header
  [secondMessage]="secondMessageHeader"
  [thirdMessage]="thirdMessage"
  [colorHeader]="'var(--ion-color-primary)'"
  [colorText]="'var(--ion-color-light)'"
  [colorBack]="'var(--ion-color-light)'"
  [colorBorderIcon]="'1px solid var(--ion-color-light)'"
  [colorIconBlack]="false"
  [path]="back">
</app-header>

<ion-content fullscreen="true" scroll-y="true" scroll-x="false">
  <div class="content">
    <ion-grid *ngIf="!idunique">
      <ion-row>
        <ion-col>
          <button 
            class="tab" 
            (click)="tabSelected(1)" 
            [ngClass]="{'active': tab === 1}">
              <p>{{message}}</p>
              <img src="../../../assets/icon_servicios.png">
          </button>
          <button 
            class="tab" 
            [ngClass]="{'active' : tab === 2}"
            (click)="tabSelected(2)">
              <p>Mis solicitudes</p>
              <img src="../../../assets/mis_servicios.png">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-formComponent
      *ngIf="tab === 1; else MyItem"
      [category]="category"
      [categories]="categories"
      (showCategories)="showModalCategories = $event"
      (showPhotos)="showModalPhotos = $event"
      (showTabTwo)="tab = 2"
      (categoriesUpdate)="categoriesSelectedModal($event)">
    </app-formComponent>
    <ng-template #MyItem>
      <app-mycards 
        [type]="nameCardList"
        [category]="category">
      </app-mycards>
    </ng-template>
  </div>
</ion-content>

<app-categories-modal 
  [categories]="categories$ | async"
  [categoriesTem]="categories$ | async"
  [categoriesSelected]="categories"
  (showModal)="showModalCategories = $event"
  (categoriesSelectedOutput)="categoriesSelectedModal($event)"
  *ngIf="showModalCategories">
</app-categories-modal>

<app-photos-modal
  (showModal)="showModalPhotos = $event"
  *ngIf="showModalPhotos">
</app-photos-modal>
