@import "../../../theme/mixin.scss";

.sms {
    height: 100%;
    padding: 0 1rem;
    color: var(--ion-color-light);
    @include flex(center, center, column);

    .title {
        width: 100%;
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
        @include flex(center);
    }
    .title-2 {
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        @include flex(center);
    }
    .number {
        width: 100%;
        margin-top: 3rem;
        @include flex(center, space-around);
        .box-number {
            width: 20%;
            height: 60px;
            font-size: 28px;
            border-radius: 8px;
            text-align: center;
            color: var(--ion-color-light);
            background: rgba(255, 255, 255, 0.3);
            @include flex(center, center);
        }
    }
    .content-keyboard {
        width: 100%;
        height: 250px;
        margin-top: 5rem;
    }
}
