<app-header
  [secondMessage]="'Configuracion de Miders'"
  [colorHeader]="'var(--ion-color-primary)'"
  [colorText]="'var(--ion-color-light)'"
  [colorBack]="'var(--ion-color-light)'"
  [colorBorderIcon]="'1px solid var(--ion-color-light)'"
  [colorIconBlack]="false"
  [path]="'/inicio'">
</app-header>

<ion-content fullscreen="true" scroll-y="true" scroll-x="false" *ngIf="form && user">
  <div class="content">
    <ion-grid >
      <ion-row>
        <ion-col>
          <button 
            class="tab" 
            (click)="tabSelected(1)" 
            [ngClass]="{'active': tab === 1}">
              <p>MIDER-S</p>
          </button>
          <button 
            class="tab" 
            [ngClass]="{'active' : tab === 2}"
            (click)="tabSelected(2)">
              <p>MIDER-V</p>
          </button>
          <button 
            class="tab" 
            [ngClass]="{'active' : tab === 3}"
            (click)="tabSelected(3)">
              <p>MIDER-A</p>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form [formGroup]="form">
      <div class="title">
        <div class="text">
          <span>{{miderText}}</span>
          <ion-toggle color="primary" formControlName="status"></ion-toggle>
        </div>
        <span class="subtitle">{{miderSubtitle}}</span>
      </div>
      <div 
        class="rut" 
        (click)="showModalPhotosModal()"
        [class.isDisable]="!this.form.get('status').value">
        <ion-icon name="attach-outline"></ion-icon>
        <span>Tap para subir tu RUT.</span>
      </div>
      <!-- Init Form -->
      <div [formGroup]="form">
        <span class="config-notification">Configuración de notificaciones</span>
        <ion-select 
          multiple="true" 
          cancelText="Cerrar" 
          okText="Seleccionar" 
          placeholder="Seleccionar tipo de servicio"
          formControlName="specialties"
          *ngIf="tab === 1"
          [attr.disabled]="!this.form.get('status').value">
          <ion-select-option 
            *ngFor="let type of specialties; let i = index" 
            [value]="type.value">
            {{type.name}}
          </ion-select-option>
        </ion-select>
        <ion-select 
          multiple="true" 
          cancelText="Cerrar" 
          okText="Seleccionar" 
          placeholder="Seleccionar ciudades"
          formControlName="cities"
          [attr.disabled]="!this.form.get('status').value">
          <ion-select-option 
            *ngFor="let city of cities; let i = index" 
            [value]="city.value">
            {{city.name}}
          </ion-select-option>
        </ion-select>
        <!-- Categories -->
        <ion-button 
          type="button" 
          fill="clear" 
          class="input select button"
          [attr.disabled]="!this.form.get('status').value" 
          (click)="showModalCategories = true">
          Agregar Categorias
          <ion-icon name="caret-down-outline"></ion-icon>
        </ion-button>
        <span class="span" *ngIf="categories.length <= 0 && invalid">Debe seleccionar una categoria al menos</span>
        <div class="categories" *ngIf="categories.length > 0">
          <div 
            class="category" 
            [class.isDisable]="!this.form.get('status').value"  
            *ngFor="let category of categories">  
            {{category}}
          </div>
        </div>
        <!-- End Categories -->
      </div>
       <!-- End Form -->
      <div class="submit">
        <ion-button
          type="submit"
          shape="round"
          (click)="update()">
            Actualizar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>

<app-categories-modal 
  *ngIf="showModalCategories"
  [categories]="categories$ | async"
  [categoriesTem]="categories$ | async"
  [categoriesSelected]="categories"
  (showModal)="showModalCategories = $event"
  (categoriesSelectedOutput)="categoriesSelectedModal($event)">
</app-categories-modal>

<app-photos-modal
  (showModal)="showModalPhotos = $event"
  *ngIf="showModalPhotos"
  [isRut]="true">
</app-photos-modal>