<app-header
  [secondMessage]="secondMessageHeader"
  [colorHeader]="'var(--ion-color-primary)'"
  [colorText]="'var(--ion-color-light)'"
  [colorBack]="'var(--ion-color-light)'"
  [colorBorderIcon]="'1px solid var(--ion-color-light)'"
  [colorIconBlack]="false">
</app-header>

<ion-content fullscreen="true" scroll-y="true" scroll-x="false" *ngIf="item">
  <div class="content">
    <div class="name_detail">
      <app-offers-received [item]="item.offerit[index]"></app-offers-received>
    </div>
    <span class="info">Datos de Solicitud</span>
    <div class="card">
      <app-card-detail [item]="item"></app-card-detail>
    </div>
    <span class="info second">Datos de Oferta</span>
    <div class="card">
      <app-card-detail 
        [item]="item" 
        [isDeal]="true"
        [offer]="item.offerit[index]"
        *ngIf="!isCancel">
      </app-card-detail>
    </div>
    <div class="btn first-child">
      <ion-button shape="round" color="secondary" (click)="dealOffer()">Trato</ion-button>
    </div>
    <div class="btn">
      <ion-button shape="round" color="danger" (click)="cancelOffer()">Cancelar</ion-button>
    </div>
  </div>
</ion-content>
