@import '../../../../../theme/mixin.scss';

ion-content {
  --background: var(--ion-color-light);
}

.content {
  width: 100%;
  margin-top: 16px;
  @include flex(center, flex-start, column);
}

.info {
  margin-bottom: 16px;
  padding: 4px 12px;
  border-radius: 30px;
  color: var(--ion-color-light);
  background: var(--ion-color-primary);

  &.second {
    background: var(--ion-color-success);
  }
}

.name_detail {
  width: 75%;
}

.btn {
  width: 100%;
  margin-bottom: 16px;
  @include flex(center, center);

  ion-button {
    text-transform: capitalize;
    width: fit-content;
  }

  &.first-child {
    margin-bottom: 0px;
  }
}