<app-header
  [secondMessage]="secondMessageHeader"
  [colorHeader]="'var(--ion-color-primary)'"
  [colorText]="'var(--ion-color-light)'"
  [colorBack]="'var(--ion-color-light)'"
  [colorBorderIcon]="'1px solid var(--ion-color-light)'"
  [colorIconBlack]="false"
  [path]="back">
</app-header>

<ion-content fullscreen="true" scroll-y="true" scroll-x="false">
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button 
            class="tab" 
            (click)="tab = 1" 
            [ngClass]="{'active': tab === 1}">
              <p>Ofertar</p>
              <img src="../../../assets/icon_servicios.png">
          </button>
          <button 
            class="tab" 
            [ngClass]="{'active' : tab === 2}"
            (click)="tab = 2">
              <p>Mis ofertas</p>
              <img src="../../../assets/mis_servicios.png">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-mycards
      [category]="category"
      [type]="nameCardOffers"
      *ngIf="tab === 1">
    </app-mycards>
    <app-mycards
      [category]="category"
      [type]="nameCardMyOffers"
      *ngIf="tab === 2">
    </app-mycards>
  </div>
</ion-content>
