<ion-content fullscreen scroll-y="true">
  <div class="phone">
    <div class="phone__titulo">
      
    </div>
    <div class="phone__titulo2">
      Ingresa tu numero para finalizar tu registro
    </div>
    <div class="phone__numero">
      <input type="number" maxlength="10" name="phoneNumber" name="number" [(ngModel)]="number">
    </div>
    <div class="phone__button">
      
        <ion-button color="secondary" shape="round" size="large" (click)="enviarCel()">Enviar</ion-button>
        
    </div>
  </div>
  

</ion-content>