<ion-content fullscreen scroll-y="true">
  <div class="phone">
    <div class="title">
      Ingresa tu numero para finalizar tu registro
    </div>
    <div class="number">
      <input 
        type="number" 
        maxlength="10" 
        name="number" 
        [(ngModel)]="number"
      >
    </div>
    <div class="button-phone">
      <ion-button 
        color="secondary" 
        expand="full"
        shape="round" 
        (click)="enviarCel()">Enviar
      </ion-button>
    </div>
  </div>
</ion-content>